---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>August's Posts</h2>
    <p>  
       This month, we're all writing about LLAMAS ON ROLLERSKATES! <br />
       If you're an author of LGBTQ+ Rpmance who'd like to join in, please email Ally at ally at allester.co.uk.
    </p>

    <h2>For Participants:</h2>
    <p>
        Once you've emailed Ally the link to your blogpost, copy this code snippet into your site or just link to the page in a text link:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <p>
        It will render this banner that links to the other members:
    </p>

    {% include 'snippet.njk' %}

    <h2>Want to host your own webring?</h2>
    <p>
        If you want to start your own webring, fork 
        <a href="https://github.com/maxboeck/webring">this project</a> on Github 
        and follow the instructions in the README.
    </p>

    {% include 'github.njk' %}
</div>
