---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>Who are we?</h2>
    <p>  
       Nell Iris, Ofelia Grand and A. L. Lester are European writers of LGBTQIA+ romance. Please contact any of us if you'd like to know more about joining in!</p>

    <h2>For Participants:</h2>
    <p>
        Copy this code snippet onto your blog sidebar or just link to this page in a text link. The code will render a banner that links to the other members. Each month we add the links to each other's posts into our own. There's a spreadsheet. Ally and Nell like spreadsheets. 
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

      {% include 'snippet.njk' %}

    <h2>Want to host your own webring?</h2>
    <p>
        If you want to start your own webring, fork 
        <a href="https://github.com/maxboeck/webring">this project</a> on Github 
        and follow the instructions in the README.
    </p>

    {% include 'github.njk' %}
</div>
